<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Expense</h3>
            <div class="alert alert-success alert-dismissible fade in" [hidden]="!msg">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Success!</strong> {{msg}}
            </div>
            <div class="alert alert-danger alert-dismissible fade in" [hidden]="!error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Fail!</strong> {{error}}
            </div>
            <div id="toastr-demo" class="panel">
                <div class="panel-body">
                    <!-- Start Form -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div>
                                    <form [formGroup]="expenseEntryForm">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Expense Type</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <select formControlName="exp_type" class="form-control" required >
                                                    <option value="">--Select--</option>
                                                   
                                                   <ng-container *ngFor="let item of expenseList">
                                                    <option  value={{item.exp_id}}>{{item.exp_type}}</option>
                                                   </ng-container>
                                                </select>
                                                <label *ngIf="submitted && f.exp_type.errors" class="invalid-form-error">
                                                    <span *ngIf="f.exp_type.errors.required">Expense type is required</span>
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Date</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="exp_date" value="" id="datepicker"
                                                    placeholder="dd-mm-yyyy" class="form-control" required
                                                    autocomplete="off">
                                                    <label *ngIf="submitted && f.exp_date.errors" class="invalid-form-error">
                                                        <span *ngIf="f.exp_date.errors.required">Date is required</span>
                                                    </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <!--<div class="row">-->
                                        <!--	<div class="col-lg-2 col-md-2"></div>-->
                                        <!--	<div class="col-md-3 col-sm-12 col-xs-12 form-group">-->
                                        <!--		<label>Total Amount</label>-->
                                        <!--	</div>-->
                                        <!--	<div class="col-md-5  col-sm-12 col-xs-12 form-group">-->
                                        <!--		<input type="text" name="exp_total" maxlength="6" value="" class="form-control" required autocomplete="off">-->
                                        <!--	</div>-->
                                        <!--	<div class="col-lg-2 col-md-2"></div>-->
                                        <!--</div>-->
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Paid Amount</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="exp_paid" maxlength="6" value=""
                                                    class="form-control" autocomplete="off">
                                                    <label *ngIf="submitted && f.exp_paid.errors" class="invalid-form-error">
                                                        <span *ngIf="f.exp_paid.errors.required">Ammount is required</span>
                                                    </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <input type="submit" value="Add" name="reg" (click)="addExpense()" class="btn btn-submit">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dt-buttons">
                                    <button class="dt-button buttons-collection buttons-page-length"
                                        aria-haspopup="true" type="button" tabindex="0" aria-controls="myTable">
                                        <span>Show 10 rows</span>
                                    </button>
                                    <button class="dt-button buttons-copy buttons-html5" type="button" tabindex="0"
                                        aria-controls="myTable">
                                        <span>Copy</span>
                                    </button>
                                    <button class="dt-button buttons-excel buttons-html5" type="button" tabindex="0"
                                        aria-controls="myTable">
                                        <span>Excel</span>
                                    </button>
                                    <button class="dt-button buttons-csv buttons-html5" type="button" tabindex="0"
                                        aria-controls="myTable">
                                        <span>CSV</span>
                                    </button>
                                    <button class="dt-button buttons-pdf buttons-html5" type="button" tabindex="0"
                                        aria-controls="myTable">
                                        <span>PDF</span>
                                    </button>
                                    <button class="dt-button buttons-print buttons-html5" type="button" tabindex="0"
                                        aria-controls="myTable">
                                        <span>Print</span>
                                    </button>
                                    <button class="dt-button buttons-collection buttons-colvis" aria-haspopup="true"
                                        aria-expanded="false" type="button" tabindex="0" aria-controls="myTable">
                                        <span>Column visibility</span>
                                    </button>
                                </div>

                                <div class="dataTables_filter">
                                    <label>
                                        Search:
                                        <input type="search" class="input-search-box" [(ngModel)]="filterTerm">

                                    </label>
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Expense type</th>
                                            <th>Date</th>
                                            <!--<th>Total Amount</th>-->
                                            <th>Paid Amount</th>
                                            <th>Date & Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let data of expenseListData | paginate: { itemsPerPage: 10, currentPage: p } | filter:filterTerm; let i=index">
                                            <tr>
                                                <td>{{i + 1}}</td>
                                                <td>{{data.exp_type}}</td>
                                                <td>{{data.exp_date}}</td>
                                                <td>{{data.exp_paid}} ₹</td>
                                                <td>{{data.timestamp}}</td>
                                            </tr>
                                        </ng-container>
                                        
                                       
                                    </tbody>
                                </table>
                                <div style="display: flex;">
                                    <div class="dataTables_info" style="float:left;" id="myTable_info" role="status" aria-live="polite">
                                        Showing 1 to 1 of 1 entries
                                    </div>
                                    <div class="dataTables_paginate paging_simple_numbers"
                                        style="float:right; margin-inline-start: 445px;" id="myTable_paginate">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>