<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Edit Authority</h3>
            <div id="toastr-demo" class="panel">
                <div class="panel-body">
                    <!-- Start Form -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div>
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-4 col-xs-4 form-group">
                                                <label>Empolyee</label>
                                            </div>
                                            <div class="col-md-5  col-sm-8 col-xs-8 form-group">
                                                <select class="form-control" name="emp_id" required>
                                                    <option value="">--Select--</option>
                                                    <option title=8505906450 value=EMP623242>Manoj Kumar</option>
                                                    <option title=9649474329 value=EMP830848>Kaushlesh Pandey</option>
                                                    <option title=9956093315 value=EMP415387>Sudheer Kumar</option>
                                                    <option title=8851623171 value=EMP975845>Suresh Kumar</option>
                                                    <option title=7532984896 value=EMP374820>Brijesh Singh</option>
                                                    <option title=9889835795 value=EMP678893>Vijay Pandey</option>
                                                    <option title=9058657806 value=EMP502233>Namrita Sahu</option>
                                                    <option title=8766233642 value=EMP206333>Abhilasha Shukla</option>
                                                    <option title=7550466073 value=EMP835745>Brijesh Gupta</option>
                                                    <option title=9899481938 value=EMP104131>Himanshu Verma</option>
                                                    <option title=9997106948 value=EMP249498>Vivek Bhatt</option>
                                                    <option title=9628131962 value=EMP591849>Priti Gupta</option>
                                                    <option title=8360291668 value=EMP675854>Meenakshi Verma</option>
                                                    <option title=8295131267 value=EMP686714>Shipra Dhiman</option>
                                                    <option title=7042222222 value=EMP779786>Puneet Kumar</option>
                                                    <option title=7830212847 value=EMP304409>Aman Verma</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-2 col-sm-4 col-xs-4 form-group">
                                                <label>Modules</label>
                                            </div>
                                            <div class="col-md-8  col-sm-12 col-xs-12 form-group">
                                                <div class="row">
                                                    <!--<div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label> Employee Timesheet</label>
                                                    </div>-->
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='0'>
                                                            Timesheet Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='1'> Employee
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='2'> Project
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='3'> Activity
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='4'> Invoice
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='5'> Expense
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='6'> Client
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='7'> Lead
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='8'> Leave
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='9'> Domain
                                                            Module</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label><input type='checkbox' name='check[]' value='10'> Master
                                                            Module</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2"></div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
                                                    type="submit" value="Give Access" name="allow"
                                                    class="btn btn-submit"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
                <div class="panel-body">
                    <!-- Start Form -->
                    <div class="container-fluid">
                        <div class="row">
                            <!-- <div class="col-md-1"></div> -->
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-stripped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:134px">Emp's Name</th>
                                                <!--<th>Emp Time</th>-->
                                                <th>Timesheet</th>
                                                <th>Employee</th>
                                                <th>Project</th>
                                                <th>Activity</th>
                                                <th>Invoice</th>
                                                <th>Expense</th>
                                                <th>Client</th>
                                                <th>Lead</th>
                                                <th>Leave</th>
                                                <th>Domain</th>
                                                <th>Master</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td title=8766233642>Abhilasha Shukla</td>
                                                <td><input type='checkbox' checked value='0' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><a href='authority.php?id=EMP206333' class='btn btn-edit'><i
                                                            class='fa fa-pencil'></i> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td title=8766233642>Shudhir</td>
                                                <td><input type='checkbox' checked value='0' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><a href='authority.php?id=EMP206333' class='btn btn-edit'><i
                                                            class='fa fa-pencil'></i> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td title=9087654674>Kaushlesh Pandey</td>
                                                <td><input type='checkbox' checked value='0' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><a href='authority.php?id=EMP206333' class='btn btn-edit'><i
                                                            class='fa fa-pencil'></i> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td title=8766233642>Ankur pandey</td>
                                                <td><input type='checkbox' checked value='0' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><a href='authority.php?id=EMP206333' class='btn btn-edit'><i
                                                            class='fa fa-pencil'></i> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td title=8767546789>Vivek Bhatt</td>
                                                <td><input type='checkbox' checked value='0' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><input type='checkbox' disabled></td>
                                                <td><a href='authority.php?id=EMP206333' class='btn btn-edit'><i
                                                            class='fa fa-pencil'></i> Edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="col-md-1"></div> -->
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>