<mat-dialog-content>
    <div>Are you sure you want to submit it?</div>
  </mat-dialog-content>
  <mat-dialog-actions >
    <div class="display-flex" style="margin-top: 14px; margin-left: 212px;">
        <div style="float: right; margin-left: 11px">
          <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
        <div style="float: right;">
            <button class="btn btn-success"  (click)="submit()">Submit</button>
        </div>
    </div>
  </mat-dialog-actions>
  
