 <!--User dashboard Start-->
 <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
         
        
        
            <div class="panel panel-headline">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6" style="background-color: blue; color: #fff; float: left; ">
                            <h4> Mark Your Today's Attendance </h4>
                        </div>
                        <div class="col-sm-6" style="background-color: green; color: #fff; float: left; ">
                            <h4> Current Date &amp; Time</h4>
                        </div>
                        <div class="col-sm-6" style="border:1px solid #ccc;clear: both;">

                           <ng-container *ngIf="formName == 'attendenceNotMarked'">
                            <div class="row" style="margin: 20px">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" style="padding: 10px!important;"> <a
                                            (click)="confirm_in('successfullyAttendenceIn')" style="color: #fff; "> <b>Attendance In</b> </a>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-warning"
                                        style=" pointer-events: none; padding: 10px!important; background:#999"> <a
                                            style="color: #333"> Attendance Out </a> </button>
                                </div>
                                <div class="col-sm-12">
                                    <h5 style="padding-top: 20px; color:red"> You have <b>NOT</b> marked your
                                        today's attendance. </h5>
                                </div>
                            </div>
                           </ng-container>

                           <ng-container  *ngIf="formName == 'successfullyAttendenceIn'">
                                <div class="row" style="margin: 20px">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary"
                                        style=" pointer-events: none ;padding: 10px!important; background:#999"> <a
                                            style="color: #333"> Attendance In </a> </button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-warning" style="padding: 10px!important;"> <a
                                        (click)="confirm_out('successfullyAttendenceOut')"      style="color: #fff"> Attendance Out </a>
                                    </button>
                                </div>
                                <div class="col-sm-12">
                                    <h5 style="padding-top: 20px; color:orange"> You have successfully marked
                                        <b>IN</b> your today's attendance </h5>
                                </div>
                            </div>
                           </ng-container>

                           <ng-container *ngIf="formName == 'successfullyAttendenceOut'">
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary"
                                        style=" pointer-events: none ;padding: 10px!important;  background:#999"> <a
                                            style="color: #333"> Attendance In </a> </button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-warning"
                                        style=" pointer-events: none ;padding: 10px!important;  background:#999"> <a
                                            style="color: #333"> Attendance Out </a> </button>
                                </div>
                                <div class="col-sm-12">
                                    <h5 style="padding-top: 20px; color:green"> You have successfully marked
                                        <b>OUT</b> today's attendance </h5>
                                </div>
                            </div> 
                           </ng-container>
                         </div>
                        
                        <div class="col-sm-6" style="border:1px solid #ccc; height: 136px;">
                            <div class="row" style="margin: 20px">

                                <div align="center" style="font-size:30px;">
                                   {{dateToday | date :'dd-MM-YYYY' }}
                                    <hr>
                                     {{dateToday | date:'h:MM:ss a'}}
                                </div>
                                <!-- <div id="clock" align="center" style="font-size:30px;"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
               <h3 class="panel-title">Projects</h3>
             </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="metric metric-1">
                            <span class="icon"><i class="fa fa-file-code-o"></i></span>
                            <p>

                                <span class="number">{{totalProject}}</span>
                                <span class="title" style="font-size: 1.1em;">Total Project</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="metric metric-2">
                            <span class="icon"><i class="fa fa-file-code-o"></i></span>
                            <p>

                                <span class="number">{{totalOngoingProject}}</span>
                                <span class="title"  style="font-size: 1.1em;">Ongoing Project</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="metric metric-3">
                            <span class="icon"><i class="fa fa-file-code-o"></i></span>
                            <p>

                                <span class="number">{{totalCompleteProject}}</span>
                                <span class="title"  style="font-size: 1.1em;">Complete Project</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="metric metric-4">
                            <span class="icon"><i class="fa fa-file-code-o"></i></span>
                            <p>
                                <span class="number">{{totalDealyProject}}</span>
                                <span class="title"  style="font-size: 1.1em;">Delay Project</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel-headline">
            <!-- 
            <div class="panel-heading">

                <h3 class="panel-title">Today's Reminder</h3>



            </div> -->

            <!-- <div class="panel-body">


                <div class="">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="table-responsive">

                                <table id="datatable" class="table table-striped table-bordered" cellspacing="0"
                                    width="100%">

                                    <thead>

                                        <tr>

                                            <th>Sr No</th>

                                            <th>Customer Name</th>

                                            <th>Mobile</th>

                                            <th>Reminder Date</th>

                                            <th>Action</th>

                                        </tr>

                                    </thead>

                                    <tbody>


                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>


            </div> -->

        </div>



    </div>

</div>


<!--User dashboard End-->