<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Manage Lead</h3>
            <div id="toastr-demo" class="panel">
                <div class="panel-body">
                    <!-- Start Form -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div>
                                    <form [formGroup]="mangeLeadForm">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Customer Name</label>
                                            </div>
                                            <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="cus_name" class="form-control"
                                                    autocomplete="off">
                                                    <label *ngIf="submitted && f.cus_name.errors" class="invalid-form-error">
                                                        <span *ngIf="f.cus_name.errors.required">Customer name is required</span>
                                                    </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Mobile Number</label>
                                            </div>
                                            <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="mobile" minlength="10" maxlength="10"
                                                    class="form-control" id="mobile" autocomplete="off">
                                                    <label *ngIf="submitted && f.mobile.errors" class="invalid-form-error">
                                                        <span *ngIf="f.mobile.errors.required">Mobile number is required</span>
                                                    </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 "><span id="errmsg"
                                                    style="color:red"></span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <select formControlName="category" class="form-control">
                                                    <option value="">--Select--</option>
                                                    <ng-container *ngFor="let item of allLeadList">
                                                        <option value="{{item.id}}">{{item.category_name}}</option>
                                                    </ng-container>
                                                </select>
                                                <label *ngIf="submitted && f.category.errors" class="invalid-form-error">
                                                    <span *ngIf="f.category.errors.required">Category is required</span>
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Lead Feedback</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <select formControlName="lead_feedback" class="form-control">
                                                    <option value="">--Select--</option>
                                                    <option value="I have spoken to the customer">I have spoken to the
                                                        customer.</option>
                                                    <option value="Client is interested">Client is interested.</option>
                                                    <option value="In progress">In progress.</option>
                                                    <option value="I was ask to call later">I was ask to call later.
                                                    </option>
                                                    <option value="Canceled by client">Canceled by client.</option>
                                                </select>
                                                <label *ngIf="submitted && f.lead_feedback.errors" class="invalid-form-error">
                                                    <span *ngIf="f.lead_feedback.errors.required">Feedback is required</span>
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Reminder Date</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="remind_date"  bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" class="form-control"
                                                    id="datepicker" placeholder="dd-mm-yy" autocomplete="off">
                                                    <label *ngIf="submitted && f.remind_date.errors" class="invalid-form-error">
                                                        <span *ngIf="f.remind_date.errors.required">Date is required</span>
                                                    </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Comment</label>
                                            </div>
                                            <div class="col-md-5  col-sm-12 col-xs-12 form-group">
                                                <textarea formControlName="comment" rows="4" class="form-control"></textarea>
                                                <label *ngIf="submitted && f.comment.errors" class="invalid-form-error">
                                                    <span *ngIf="f.comment.errors.required">Comment is required</span>
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>
                                        <input type="hidden" name="status" id="status" value="">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                                <input type="submit" value="Submit" name="sub" (click)="addLead()" class="btn btn-submit">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                                <a [routerLink]="['/shailerscrm/admin/manage/lead']"   class="btn btn-submit">Close</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>