<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Edit Profile</h3>
             <!-- <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong>
            </div> -->

            <div class="alert alert-success alert-dismissible fade in" [hidden]="!msg">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{msg}}</strong>
            </div> 

            <div id="toastr-demo" class="panel">
                <div class="panel-body">
                    <!-- Start Form -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div>
                                    <form [formGroup]="updateForm">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name value="{{name}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Designation</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name value="{{designation}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Mobile</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="number" name value="{{mobileNumber}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Alternate Mobile</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="alt_mobile" name value="{{alterNateMobile}}"
                                                 class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name value="{{email}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Other Email</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" formControlName="other_email" name value="{{alterNateOtherEmail}}"
                                                    class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>DOB</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name value="{{dob}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Date of Joining</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name value="{{dateOfJoining}}"
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Salary</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="number" name value=""
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Bank Name</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="number" name value=""
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Account Number</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="text" name="acc_holder_2" value=""
                                                   readonly class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>IFSC Code</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                <input type="number" name value=""
                                                  readonly  class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Blood Group</label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                               <select class="form-control" formControlName="blood_group" name=blood_group>
                                                   <option>{{bloodGroup}}</option>
                                                   <option value="A+">A+</option>
                                                   <option value="O+">O+</option>
                                                   <option value="O-">O-</option>
                                                   <option value="A-">A-</option>
                                                   <option value="B+">B+</option>
                                                   <option value="B-">B-</option>
                                                   <option value="AB+">AB+</option>
                                                   <option value="AB-">AB-</option>
                                               </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                <label>Upload Picture</label>
                                            </div>
                                            <div class="col-md-3  col-sm-12 col-xs-12 form-group">
                                                <input type="file" placeholder="No file Choosen" formControlName="image" (change)="UploadImages($event)" style="width:330px;" name="img" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <input type="submit" (click)="updateProfileData()" value="Update" name="update"
                                                    class="btn btn-submit">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>