/* You can add global styles to this file, and also import other style files */
.invalid-form-error {
    font-size: 80%;
    width: 100%;
    margin-top: -0.11rem;
    color: #fb6340;
    text-align: initial;
    position: relative;
    display: inline-block;
    
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #f0eff0;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 15px;
    color: #676a6d;
}


.loader-wrapper {
    height: 300px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 45%;
    margin-top: 60px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    margin-left: 400px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
 
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
