<div id="wrapper">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
           
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger" [hidden]="!error">
                {{error}}
            </div>
            <div class="alert alert-success" [hidden]="!msg">
                {{msg}}
            </div>
        </div>
    </div>

    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="text-center">
                    <div class="content">
                        <div class="header text-center">
                            <img src="assets/img/logo-dark.png" class="img-responsive" style="margin: 0 auto;">
                            <!-- <h2>Admin Login</h2> -->
                        </div>
                        <div id="hide">
                            <ng-container>
                                <form [formGroup]="changePasswordForm">

                                    <div>
                                        <div class="form-group search">
                                            <label class="control-label">Username </label>
                                            <input type="text" value="test" formControlName="emp_email"
                                                class="form-control" autocomplete="off">
                                            <label *ngIf="submitted && f.emp_email.errors" class="invalid-form-error">
                                                <span *ngIf="f.emp_email.errors.required">Username is required</span>
                                            </label>
                                        </div>
                                        <div class="form-group">

                                            <label class="control-label" for="password">Enter Your New Password</label>

                                            <input type="password" title="Please enter your otp"
                                                formControlName="new_password" class="form-control">
                                            <label *ngIf="submitted && f.new_password.errors"
                                                class="invalid-form-error">
                                                <span *ngIf="f.new_password.errors.required">Password is required</span>
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="password">Enter Confirmation
                                                password</label>
                                            <input type="password" title="Please enter your otp"
                                                formControlName="confirm_password" class="form-control">
                                            <label *ngIf="submitted && f.confirm_password.errors"
                                                class="invalid-form-error">
                                                <span *ngIf="f.confirm_password.errors.required">Confirmation password is
                                                    required</span>
                                            </label>
                                        </div>
                                        <input type="submit" name="otp verify" value="Change Password" (click)="changePassword()" 
                                            class="btn btn-block loginbtn">
                                    </div>
                                </form>
                            </ng-container>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>